*.log

/logs
/moddata
/saves
/stackdeobf_mappings
/.cache
/.fabric
/.mixin.out
/cache
/crash-reports
/debug
/downloads

/journeymap/data
/journeymap/icon

/command_history.txt
/realms_persistence.json
/servers.dat_old
/usercache.json
mods/reactivemusic-1.0.3+1.21.jar