*.log
*.crowdin

/logs
/moddata
/saves
/stackdeobf_mappings
/.voxy
/.cache
/.fabric
/.mixin.out
/cache
/crash-reports
/debug
/downloads
/journeymap
/screenshots

/config/mod_observer
/config/xaero

/command_history.txt
/realms_persistence.json
/servers.dat_old
/usercache.json
/mods/reactivemusic-1.0.3+1.21.jar
/xaero/
/XaeroWaypoints_BACKUP24080/
waypoints/backup/WaypointData.dat
waypoints/WaypointData.dat
